* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #0d1b2a;
  color: white;
}

/* NAVBAR */
 nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: #0d1b2a;
}

nav h1 {
  color: #ff7b00;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.ODicn {
  width: 40px;
  border-radius: 55%;
}
.navbar1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}




.card {
  min-width: 250px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* BUTTON */
.btn {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  background: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
/* HERO */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50vh;
}

.hero-text h2 {
  font-size: 50px;
  color: #ff7b00;
}

.hero-text p {
  margin: 20px 0;
  font-size: 18px;
}

.btn {
  background: #ff7b00;
  padding: 12px 25px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
}

.btn:hover {
  background: #ff9500;
}

.booking {
  padding: 10px 20px;
  text-align: center;
}

/* TITLE */
.booking h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #ff9500;
}

/* FORM */
#bookingForm {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* INPUTS */
#bookingForm input {
  padding: 12px;
  opacity: 0.9;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  transition: 0.2s;
}

#bookingForm input:focus {
  border-color: #000;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

/* SERVICES */
.services {
  padding: 50px;
  text-align: center;
}

.services h2 {
  color: #ff7b00;
  margin-bottom: 30px;
}

.service-box {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px;
  justify-content: center;
}

.card {
  background: #1b263b;
  padding: 30px;
  border-radius: 10px;
  width: 250px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

/* WHY US */
.why {
  padding: 50px;
  background: #1b263b;
  text-align: center;
}

.why h2 {
  color: #ff7b00;
}

.why p {
  margin-top: 15px;
}

/* CTA */
.cta {
  padding: 60px;
  text-align: center;
}

.cta h2 {
  margin-bottom: 20px;
}

/* FOOTER */
footer {
    color: #fff;
  padding: 20px;
  text-align: center;
}

/* RESPONSIVE */
@media(max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  nav {
    flex-direction: column;
    align-items: center;
    }
}
